@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,500;1,100&family=Roboto:wght@300;400&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
a {
  text-decoration: none;
  color: black;
}

.sales {
  display: grid;
  grid-template-columns: 60% 35%;
  padding-block: 1.5rem;
  grid-gap: 3rem;
}
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto:wght@300;400&display=swap'); */
